torch
setuptools<81
opencv-python
numpy
fastapi
uvicorn
motor
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-dotenv
paddleocr
paddlepaddle
requests
pillow
python-multipart
ultralytics
seaborn
yolov5
gitpython